In [ ]:
import pandas as pd
df=pd.read_csv("/content/Dataset of Diabetes .csv")
df2=pd.read_csv("/content/adult.csv")
df.info()
df2.info()
print(df.describe())
print(df2.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1000 non-null   int64
 1   No_Pation  1000 non-null   int64
 2   Gender     1000 non-null   object
 3   AGE        1000 non-null   int64
 4   Urea       1000 non-null   float64
 5   Cr         1000 non-null   int64
 6   HbA1c      1000 non-null   float64
 7   Chol       1000 non-null   float64
 8   TG         1000 non-null   float64
 9   HDL        1000 non-null   float64
 10  LDL        1000 non-null   float64
 11  VLDL       1000 non-null   float64
 12  BMI        1000 non-null   float64
 13  CLASS      1000 non-null   object
dtypes: float64(8), int64(4), object(2)
memory usage: 109.5+ KB
                ID     No_Pation          AGE         Urea           Cr  \
count  1000.000000  1.000000e+03  1000.000000  1000.000000  1000.000000
mean    340.500000  2.705514e+05    53.528000     5.124743    68.943000
std     240.397673  3.380758e+06     8.799241     2.935165    59.984747
min       1.000000  1.230000e+02    20.000000     0.500000     6.000000
25%     125.750000  2.406375e+04    51.000000     3.700000    48.000000
50%     300.500000  3.439550e+04    55.000000     4.600000    60.000000
75%     550.250000  4.538425e+04    59.000000     5.700000    73.000000
max     800.000000  7.543566e+07    79.000000    38.900000   800.000000

             HbA1c         Chol           TG          HDL          LDL  \
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.000000
mean      8.281160     4.862820     2.349610     1.204750     2.609790
std       2.534003     1.301738     1.401176     0.660414     1.115102
min       0.900000     0.000000     0.300000     0.200000     0.300000
25%       6.500000     4.000000     1.500000     0.900000     1.800000
50%       8.000000     4.800000     2.000000     1.100000     2.500000
75%      10.200000     5.600000     2.900000     1.300000     3.300000
max      16.000000    10.300000    13.800000     9.900000     9.900000

              VLDL          BMI
count  1000.000000  1000.000000
mean      1.854700    29.578020
std       3.663599     4.962388
min       0.100000    19.000000
25%       0.700000    26.000000
50%       0.900000    30.000000
75%       1.500000    33.000000
max      35.000000    47.750000

In [12]:
import pandas as pd
import numpy as np

# ---------------------------
# Handling Missing Values
# ---------------------------

# Check for missing values in df
missing_df = df.isnull().sum()
print("Missing values in df:\n", missing_df)

# For df2
missing_df2 = df2.isnull().sum()
print("Missing values in df2:\n", missing_df2)

# Impute or drop missing values
# Option 1: Drop rows with missing values (if the number of missing values is small)
df = df.dropna()
df2 = df2.dropna()

# Option 2: Impute missing values (example: filling with the median for numerical columns)

numeric_columns_df = df.select_dtypes(include=np.number).columns
numeric_columns_df2 = df2.select_dtypes(include=np.number).columns

df[numeric_columns_df] = df[numeric_columns_df].fillna(df[numeric_columns_df].median())
df2[numeric_columns_df2] = df2[numeric_columns_df2].fillna(df2[numeric_columns_df2].median())

# ---------------------------
# Handling Categorical Data
# ---------------------------

cat_columns_df = df.select_dtypes(include=['object']).columns
cat_columns_df2 = df2.select_dtypes(include=['object']).columns

df = pd.get_dummies(df, columns=cat_columns_df, drop_first=True)
df2 = pd.get_dummies(df2, columns=cat_columns_df2, drop_first=True)

# ---------------------------
# Handling Outliers
# ---------------------------

# For df, calculate IQR for numeric columns only
Q1_df = df[numeric_columns_df].quantile(0.25)
Q3_df = df[numeric_columns_df].quantile(0.75)
IQR_df = Q3_df - Q1_df

# Identify outliers in df
outliers_df = ((df[numeric_columns_df] < (Q1_df - 1.5 * IQR_df)) | (df[numeric_columns_df] > (Q3_df + 1.5 * IQR_df))).sum()
print("Outliers in df:\n", outliers_df)

# Removing outliers by dropping rows that contain outliers
df = df[~((df[numeric_columns_df] < (Q1_df - 1.5 * IQR_df)) | (df[numeric_columns_df] > (Q3_df + 1.5 * IQR_df))).any(axis=1)]

# For df2, calculate IQR for numeric columns only
numeric_columns_df2 = df2.select_dtypes(include=np.number).columns  # Ensure we only use numeric columns
Q1_df2 = df2[numeric_columns_df2].quantile(0.25)
Q3_df2 = df2[numeric_columns_df2].quantile(0.75)
IQR_df2 = Q3_df2 - Q1_df2

# Identify outliers in df2
outliers_df2 = ((df2[numeric_columns_df2] < (Q1_df2 - 1.5 * IQR_df2)) | (df2[numeric_columns_df2] > (Q3_df2 + 1.5 * IQR_df2))).sum()
print("Outliers in df2:\n", outliers_df2)

# Removing outliers by dropping rows that contain outliers
df2 = df2[~((df2[numeric_columns_df2] < (Q1_df2 - 1.5 * IQR_df2)) | (df2[numeric_columns_df2] > (Q3_df2 + 1.5 * IQR_df2))).any(axis=1)]

# Final info after cleaning
df.info()
df2.info()

# Final statistics after cleaning
print(df.describe())
print(df2.describe())

Missing values in df:
 ID           0
No_Pation    0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
Gender_M     0
Gender_f     0
CLASS_N      0
CLASS_P      0
CLASS_Y      0
CLASS_Y      0
dtype: int64
Missing values in df2:
 age                               0
fnlwgt                            0
educational-num                   0
capital-gain                      0
capital-loss                      0
                                 ..
native-country_Trinadad&Tobago    0
native-country_United-States      0
native-country_Vietnam            0
native-country_Yugoslavia         0
income_>50K                       0
Length: 101, dtype: int64
Outliers in df:
 ID            0
No_Pation    97
AGE          16
Urea          6
Cr            0
HbA1c         0
Chol          3
TG            8
HDL           0
LDL           0
VLDL          0
BMI           0
dtype: int64
Outliers in df2:
 age                  216
fnlwgt              1453
educational-num     1794
capital-gain        4035
capital-loss        2282
hours-per-week     13496
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 504 entries, 5 to 999
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         504 non-null    int64
 1   No_Pation  504 non-null    int64
 2   AGE        504 non-null    int64
 3   Urea       504 non-null    float64
 4   Cr         504 non-null    int64
 5   HbA1c      504 non-null    float64
 6   Chol       504 non-null    float64
 7   TG         504 non-null    float64
 8   HDL        504 non-null    float64
 9   LDL        504 non-null    float64
 10  VLDL       504 non-null    float64
 11  BMI        504 non-null    float64
 12  Gender_M   504 non-null    bool
 13  Gender_f   504 non-null    bool
 14  CLASS_N    504 non-null    bool
 15  CLASS_P    504 non-null    bool
 16  CLASS_Y    504 non-null    bool
 17  CLASS_Y    504 non-null    bool
dtypes: bool(6), float64(8), int64(4)
memory usage: 54.1 KB
<class 'pandas.core.frame.DataFrame'>
Index: 28558 entries, 0 to 48839
Columns: 101 entries, age to income_>50K
dtypes: bool(95), int64(6)
memory usage: 4.1 MB
               ID     No_Pation         AGE        Urea          Cr  \
count  504.000000    504.000000  504.000000  504.000000  504.000000
mean   351.597222  33121.319444   55.121032    4.477778   57.728175
std    234.167827   8384.354859    5.078238    1.460515   17.406139
min      2.000000   8572.000000   42.000000    1.100000   22.000000
25%    145.750000  24112.500000   52.000000    3.400000   45.000000
50%    325.500000  34375.500000   55.000000    4.350000   56.000000
75%    523.250000  34540.250000   59.000000    5.500000   70.000000
max    800.000000  49220.000000   69.000000    8.500000  106.000000

            HbA1c        Chol          TG         HDL         LDL        VLDL  \
count  504.000000  504.000000  504.000000  504.000000  504.000000  504.000000
mean     8.469365    4.763294    2.079167    1.105317    2.570615    0.992857
std      2.574307    1.085611    0.955731    0.327834    0.994209    0.448488
min      2.000000    2.000000    0.300000    0.400000    0.600000    0.100000
25%      6.800000    4.100000    1.300000    0.900000    1.800000    0.700000
50%      8.200000    4.800000    2.000000    1.000000    2.500000    0.900000
75%     10.200000    5.500000    2.600000    1.300000    3.300000    1.300000
max     14.800000    7.500000    4.600000    1.900000    5.500000    2.100000

              BMI
count  504.000000
mean    29.867063
std      4.677942
min     19.000000
25%     26.000000
50%     30.000000
75%     33.000000
max     39.000000
                age         fnlwgt  educational-num  capital-gain  \
count  28558.000000   28558.000000     28558.000000       28558.0
mean      38.040899  180469.899713        10.246831           0.0
std       12.067256   87016.791265         2.148471           0.0
min       17.000000   13769.000000         5.000000           0.0
25%       28.000000  116918.000000         9.000000           0.0
50%       37.000000  176684.000000        10.000000           0.0
75%       47.000000  229650.000000        12.000000           0.0
max       78.000000  417668.000000        16.000000           0.0

       capital-loss  hours-per-week
count       28558.0    28558.000000
mean            0.0       41.470166
std             0.0        3.959782
min             0.0       33.000000
25%             0.0       40.000000
50%             0.0       40.000000
75%             0.0       40.000000
max             0.0       52.000000

In [13]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# Assuming you have a dataframe `df` and `df2`

# -------------------------------
# Min-Max Scaling (Normalization)
# -------------------------------

# Initialize MinMaxScaler
min_max_scaler = MinMaxScaler()

# Apply Min-Max Scaling to the numeric columns in df
df[numeric_columns_df] = min_max_scaler.fit_transform(df[numeric_columns_df])

# Apply Min-Max Scaling to the numeric columns in df2
df2[numeric_columns_df2] = min_max_scaler.fit_transform(df2[numeric_columns_df2])

# Check the transformed df and df2
print("Transformed df after Min-Max Scaling:\n", df.head())
print("Transformed df2 after Min-Max Scaling:\n", df2.head())

# -------------------------------
# Standard Scaling
# -------------------------------

# Initialize StandardScaler
standard_scaler = StandardScaler()

# Apply Standard Scaling to the numeric columns in df
df[numeric_columns_df] = standard_scaler.fit_transform(df[numeric_columns_df])

# Apply Standard Scaling to the numeric columns in df2
df2[numeric_columns_df2] = standard_scaler.fit_transform(df2[numeric_columns_df2])

# Check the transformed df and df2
print("Transformed df after Standard Scaling:\n", df.head())
print("Transformed df2 after Standard Scaling:\n", df2.head())

Transformed df after Min-Max Scaling:
           ID  No_Pation       AGE      Urea        Cr     HbA1c      Chol  \
5   0.791980   0.631077  0.111111  0.162162  0.023810  0.156250  0.163636
6   0.901003   0.631101  0.296296  0.121622  0.333333  0.156250  0.290909
7   0.525063   0.631150  0.222222  0.486486  0.297619  0.156250  0.163636
13  0.162907   0.631323  0.111111  0.472973  0.380952  0.242188  0.400000
14  0.501253   0.631347  0.296296  0.324324  0.202381  0.156250  0.363636

          TG       HDL       LDL  VLDL   BMI  Gender_M  Gender_f  CLASS_N   \
5   0.162791  0.400000  0.183673  0.15  0.10     False     False     False
6   0.232558  0.333333  0.306122  0.25  0.25     False     False     False
7   0.116279  0.333333  0.204082  0.15  0.25      True     False     False
13  0.325581  0.533333  0.326531  0.35  0.20     False     False     False
14  0.279070  0.533333  0.326531  0.30  0.25     False     False     False

    CLASS_P  CLASS_Y  CLASS_Y
5     False    False     False
6     False    False     False
7     False    False     False
13    False    False     False
14    False    False     False
Transformed df2 after Min-Max Scaling:
         age    fnlwgt  educational-num  capital-gain  capital-loss  \
0  0.131148  0.527441         0.181818           0.0           0.0
1  0.344262  0.188277         0.363636           0.0           0.0
2  0.180328  0.800155         0.636364           0.0           0.0
6  0.196721  0.527996         0.363636           0.0           0.0
8  0.114754  0.881156         0.454545           0.0           0.0

   hours-per-week  workclass_Federal-gov  workclass_Local-gov  \
0        0.368421                  False                False
1        0.894737                  False                False
2        0.368421                  False                 True
6        0.368421                  False                False
8        0.368421                  False                False

   workclass_Never-worked  workclass_Private  ...  native-country_Puerto-Rico  \
0                   False               True  ...                       False
1                   False               True  ...                       False
2                   False              False  ...                       False
6                   False              False  ...                       False
8                   False               True  ...                       False

   native-country_Scotland  native-country_South  native-country_Taiwan  \
0                    False                 False                  False
1                    False                 False                  False
2                    False                 False                  False
6                    False                 False                  False
8                    False                 False                  False

   native-country_Thailand  native-country_Trinadad&Tobago  \
0                    False                           False
1                    False                           False
2                    False                           False
6                    False                           False
8                    False                           False

   native-country_United-States  native-country_Vietnam  \
0                          True                   False
1                          True                   False
2                          True                   False
6                          True                   False
8                          True                   False

   native-country_Yugoslavia  income_>50K
0                      False        False
1                      False        False
2                      False         True
6                      False        False
8                      False        False

[5 rows x 101 columns]
Transformed df after Standard Scaling:
           ID  No_Pation       AGE      Urea        Cr     HbA1c      Chol  \
5   1.207183   0.131647 -1.995000 -1.492584 -1.939642 -1.737868 -1.718061
6   1.579080   0.131767 -1.009429 -1.698195 -0.444432 -1.737868 -1.072622
7   0.296675   0.132005 -1.403657  0.152305 -0.616957 -1.737868 -1.718061
13 -0.938709   0.132841 -1.995000  0.083767 -0.214400 -1.310144 -0.519388
14  0.215456   0.132960 -1.009429 -0.670140 -1.077021 -1.737868 -0.703799

          TG       HDL       LDL      VLDL       BMI  Gender_M  Gender_f  \
5  -1.130275 -0.321571 -1.077921 -1.323215 -1.897389     False     False
6  -0.816067 -0.626906 -0.473827 -0.876829 -1.255444     False     False
7  -1.339747 -0.626906 -0.977239 -1.323215 -1.255444      True     False
13 -0.397124  0.289099 -0.373144 -0.430443 -1.469425     False     False
14 -0.606595  0.289099 -0.373144 -0.653636 -1.255444     False     False

    CLASS_N   CLASS_P  CLASS_Y  CLASS_Y
5      False    False    False     False
6      False    False    False     False
7      False    False    False     False
13     False    False    False     False
14     False    False    False     False
Transformed df2 after Standard Scaling:
         age    fnlwgt  educational-num  capital-gain  capital-loss  \
0 -1.080704  0.532459        -1.511255           0.0           0.0
1 -0.003389 -1.041839        -0.580344           0.0           0.0
2 -0.832093  1.798318         0.816022           0.0           0.0
6 -0.749222  0.535034        -0.580344           0.0           0.0
8 -1.163574  2.174298        -0.114889           0.0           0.0

   hours-per-week  workclass_Federal-gov  workclass_Local-gov  \
0       -0.371281                  False                False
1        2.154155                  False                False
2       -0.371281                  False                 True
6       -0.371281                  False                False
8       -0.371281                  False                False

   workclass_Never-worked  workclass_Private  ...  native-country_Puerto-Rico  \
0                   False               True  ...                       False
1                   False               True  ...                       False
2                   False              False  ...                       False
6                   False              False  ...                       False
8                   False               True  ...                       False

   native-country_Scotland  native-country_South  native-country_Taiwan  \
0                    False                 False                  False
1                    False                 False                  False
2                    False                 False                  False
6                    False                 False                  False
8                    False                 False                  False

   native-country_Thailand  native-country_Trinadad&Tobago  \
0                    False                           False
1                    False                           False
2                    False                           False
6                    False                           False
8                    False                           False

   native-country_United-States  native-country_Vietnam  \
0                          True                   False
1                          True                   False
2                          True                   False
6                          True                   False
8                          True                   False

   native-country_Yugoslavia  income_>50K
0                      False        False
1                      False        False
2                      False         True
6                      False        False
8                      False        False

[5 rows x 101 columns]